table{
    width: 80%;
    border-collapse: collapse;
}
th,td{
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}

.errorlist{
    color: red;
    list-style: none;
    padding: 0;
}

p.success{
    color: white !important;
    background-color: green !important;
    padding: 10px !important;
    border-radius: 5px !important;
    margin-bottom: 15px !important;
    font-weight: bold !important;
    display: block !important;
}

p.error{
    color: white !important;
    background-color: red !important;
    padding: 10px !important;
    border-radius: 5px !important;
    margin-bottom: 15px !important;
    font-weight: bold !important;
    display: block !important;
}