table{
    width: 80%;
    border-collapse: collapse;
}
th,td{
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}

.errorlist{
    color: red;
    list-style: none;
    padding: 0;
}
.success{
    color: green;
}
.error{
    color: red;
}