{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            {% block title %}
                Notes App
            {% endblock title %}
        </title>
        <link rel="stylesheet" href="{% static 'notes/style.css' %}">
    </head>
    <body>
        {% include "notes/partials/header.html" %}
        {% if messages %}
            {% for m in messages %}<p class="{{ m.tags }}">{{ m }}</p>{% endfor %}
        {% endif %}
        {% block content %}
        {% endblock content %}
    </body>
</html>
